<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Learn React-Redux</title>
	</head>

	<body>
		<header>
		</header>
		<main>
			<%- body %>
		</main>
		<footer>
		</footer>
		<script type="text/javascript" src="js/bundle.js" charset="utf-8"></script>
	</body>
</html>